/****************************************
 *                                      *
 *                                      *
 *              tableType.css            *
 *                                      *
 *                                      *
 * **************************************/
 body,html,div,span,h1,h2,h3,h4,h5,h6,mark,ul,li,dl,dt,dd,table,tr,th,td,em,p,b,a{
    background:none;
    border:0;
    font-size:14px;
    font-style: inherit;
    font-weight: inherit;
    font-family: arial;
    list-style:none;
    margin:0;
    padding:0;
    outline:0;
 }
ul,li{
    list-style: none; 
}
a,a:active{
    text-decoration:none;
}
select,button,input,a,textarea{
  border: 0;
  border-radius: 0;
  outline: none;
  resize: none;
  cursor: pointer;
  background: none;
  -webkit-touch-callout: none;
}
.loading{
    width: 60px;
    height: 60px;
    background: url(../img/loading.gif) no-repeat;
    background-size: cover;
    margin: 10px auto;
}

//screenModel
.screenModel{
  display: none;
}
.screenBg{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    position: fixed;
    top:0;
    left:0;
    z-index: 99;
}
.screen{
    width: 920px;
    height: auto;
    position: fixed;
    top: 10%;
    left: 50%;
    margin-left: -400px;
    z-index: 100;
    padding: 10px 20px;
    background: #fff;
    box-shadow: 0 0 2px 0 #ccc;
    border-radius: 5px;
    font-size: 12px;
    overflow: hidden;
    .card_ergodic{
        li{
            margin: 10px 0;
            line-height: 24px;
            label{
                color: #888;
                font-size: 12px;
                margin-right: 12px;
            }
            span{
                display: inline-block;
                color: #333;
                font-size: 12px;
                margin-right: 15px;
                transition: all .5;
                cursor: pointer;
                &:hover{
                    color: #FF552E;
                }
            }
            .active{
                color:#FF552E;
            }
        }
        .childRegion{
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 5px 10px;
            em{
                margin-right: 10px;
                font-weight: 600;
                vertical-align: middle;
                // color: #EB6100;
            }
        }
        
    }
    .card_regular{
        label{
            margin: 15px 0;
            display: block;
            font-size: 12px;
            color: #888;
            input{
                width: 200px;
                line-height: 22px;
                text-indent: 6px;
                border: 1px solid #ccc;
                margin-left: 10px;
                border-radius: 3px;
            }
        }
        ul{
            li{
                display: inline-block;
                width: 96px;
                margin-right: 12px;
                margin-bottom: 10px;
                position: relative;
                select{
                    border: 1px solid #ccc;
                    border-radius: 3px;
                    line-height: 26px;
                    width: 100%;
                    height: 26px;
                    color: #888;
                    transition: all .5;
                    &:hover{
                        border: 1px solid #999;
                        color: #666;
                    }
                    option{
                        line-height: 26px;
                        height: 26px;
                    }
                }
            }
        }
        
    }
    .card_btn{
        margin: 20px auto;
        text-align: center;
        display: block;
        overflow: hidden;
        .sure_btn{
            background: #FF5956;
        }
        .cancle_btn{
            background: #465B79;
        }
        button{
            display: inline-block;
            border: 0;
            color: #fff;
            margin: 0 12px;
            padding: 0 30px;
            border-radius: 5px;
            font-size: 12px;
            line-height: 32px;
            height: 32px;
            cursor: pointer;
            transition: all .5;
            &:hover{
                opacity: .8;
            }
        }

    } 
    
}
